html {
  background-color: rgb(255, 255, 255);
  text-align: center;
}

body {
  padding-top: 3em;
  font-family: Arial, Helvetica, sans-serif;
}

.shine, .chrome {
  font-size: 3em;
  margin: 0 auto;
  margin-bottom: 1em;
  font-weight: bold;
}

.shine {
  background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
  -webkit-background-size: 150px;
  color: rgba(0, 89, 255, 0.801);
  -webkit-background-clip: text;
  -webkit-animation-name: shine;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  text-shadow: #023dff;
}

@-webkit-keyframes shine {
  0%, 10% {
    background-position: -1000px;
  }
  20% {
    background-position: top left;
  }
  90% {
    background-position: top right;
  }
  100% {
    background-position: 1000px;
  }
}

.text{
  color: rgb(0, 0, 0);
}

.text2{
  color: rgb(0, 0, 0);
  margin-top: -2em;
}

.btn-solid-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #023dff;
	border-radius: 32px;
	background-color: #023dff;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
  margin-top: -2em;
}

.btn-solid-sm:hover {
	border: 1px solid #023dff;
	background-color: transparent;
	color: #023dff;
	text-decoration: none;
  margin-top: -1em;
  }